/* External CSS style file */

* {
   box-sizing: border-box;
}

body {
   font-family: Arial;
   padding: 10px;
   background: #f1f1f1;
}

/* Header (div) formatting */
.header {
   padding: 10px;
   text-align: center;
   background-color: #cccccc;
   color: #000000;
   padding-top: 120px;
}

.header h1 {
   font-size: 50px;
}


/* Make the logo have a rounded edge */
img.top-image {
   vertical-align: middle;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
.topnav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: #000054;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
 }
 
 /* Style the topnav links */
 .topnav a {
   font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    margin-left: 30px;
    display: inline-block;
    padding: 30px 16px;
    flex-wrap: wrap;
 }
 
 /* Change color on hover */
 .topnav a:hover {
   background-color:crimson;
    color: rgb(255, 255, 255);
    transition: 0.4s;
 }
 
 /* Style the content */
 .content {
   background-color: #ddd;
   padding: 10px;
 }
 
 /* Style the footer */
 .footer {
   background-color: #cccccc;
   padding: 10px;
 }
