/* External CSS style file */

* {
   box-sizing: border-box;
}

body {
   font-family: Arial;
   padding: 50px 10px;
   background: #f1f1f1;
}

/* Header (div) formatting */
.header {
   padding: 10px;
   text-align: center;
   background-color: #cccccc;
   color: #000000;
   padding-top: 120px;
}

.header h1 {
   font-size: 50px;
}


/* Make the logo have a rounded edge */
img.top-image {
   vertical-align: middle;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
.topnav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: #000054;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

/* Style the navbar links */
.navbar a {
   font-size: 20px;
   text-decoration: none;
   font-weight: 500;
   color: white;
   margin-left: 30px;
   display: inline-block;
   padding: 30px 16px;
   flex-wrap: wrap;
}

.navbar a:hover {
   background-color:crimson;
   color: rgb(255, 255, 255);
   transition: 0.4s;
}

/* make the navbar glow green on the current page.*/
.navbar .current {
   background-color: green;
   color: white;
}

.secondNavBar .current {
   background-color: green;
   color: white;
}

/* formatting secondary navbar*/
.secondNavBar h1 {
   margin-left: -20px;
   padding-left: 230px;
   border-bottom: 4px solid;
   font-size: 35px;
   background-color: #f1f1f1;
   position: fixed;
   width: 100%;
   z-index: 90;
}

.secondNavBar h1 div a{
   font-size: 20px;
   text-decoration: none;
   font-weight: 500;
   color: rgb(0, 0, 0);
   display: inline-block;
   padding: 15px 30px;
   flex-wrap: wrap;
}

.secondNavBar h1 div a:hover {
   background-color:rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   transition: 0.4s;
}

/* Change color on hover */
.topnav a:hover {
   background-color:crimson;
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

/* Sidebar (only for mission page) */
.sidebar {
   padding-left: -30px;
   margin-left: -30px;
   position: fixed;
   left: 0;
   top: 125px;
   width: 200px;
   height: 100%;
   border-right: solid black 3px;
   background-color:ghostwhite;
}

.sidebar ul a {
   display: block;
   width: 100%;
   line-height: 100px;
   font-size: 25px;
   padding-left: 30px;
   box-sizing: border-box;
   border-bottom: 1px solid;
   text-decoration: none;
   color: black;
   transition: 0.3s;
}

ul li:hover a{
   background-color: black;
   color: white;
}

/* Side menu (same as sidebar but for pages with information */
.sidemenu {
   padding-left: -30px;
   margin-left: -30px;
   position: fixed;
   left: 0;
   top: 125px;
   width: 400px;
   height: 100%;
   border-right: solid black 3px;
   background-color:#f1f1f1;
}

.sidemenu h2 {
   margin-top: 20px;
   margin-left: 50px;
   font-size: 20px;
}

.sidemenu input {
   margin-top: 0px;
   margin-left: 50px;
   width: 75%;
   text-align: center;
   height: 40px;
   font-size: 20px;
}

input[type="checkbox"] {
   width: 24px;
   height: 24px;
   margin: 10px;
   margin-left: 50px;
}

label {
   font-size: 20px;
}

button {
   font-size: 25px;
   border-radius: 25px;
   width: 75%;
   margin-left: 50px;
}

/* Style the content */
.content {
   background-color: #ddd;
   padding: 10px;
}

/* Style the footer */
.footer {
   background-color: #cccccc;
   padding: 10px;
}

 
 
 


 