/* External CSS style file */

* {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth !important;
}

body {
   font-family: Arial;
   padding: 50px 10px;
   background: #f1f1f1;
}

/* Header (div) formatting */
.image-container {
   text-align: center;
   background-color: #cccccc;
   color: #000000;
}

.overlay-text {
   position: absolute;
   top: 19%;
   left: 25%;
   right: 25%;
   font-weight: bold;
   font-size: 45px;
   background-color: antiquewhite;
   text-align: center;
   padding: 20px 10px;
   background-size: contain;
}

/* Make the logo have a rounded edge */
img.top-image {
   vertical-align: middle;
   float: left;
   object-fit: cover;
   width: 100%;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
.topnav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: #000054;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

/* Style the navbar links */
.navbar a {
   font-size: 20px;
   text-decoration: none;
   font-weight: 500;
   color: white;
   margin-left: 30px;
   display: inline-block;
   padding: 30px 16px;
   flex-wrap: wrap;
}

.navbar a:hover {
   background-color:crimson;
   color: rgb(255, 255, 255);
   transition: 0.4s;
}

/* make the navbar glow green on the current page.*/
.navbar .current {
   background-color: green;
   color: white;
}

.secondNavBar .current {
   background-color: green;
   color: white;
}

/* formatting secondary navbar*/
.secondNavBar h1 {
   margin-left: -20px;
   padding-left: 230px;
   border-bottom: 4px solid;
   font-size: 35px;
   background-color: #f1f1f1;
   position: fixed;
   width: 100%;
   z-index: 90;
}

.secondNavBar h1 div a{
   font-size: 20px;
   text-decoration: none;
   font-weight: 500;
   color: rgb(0, 0, 0);
   display: inline-block;
   padding: 15px 30px;
   flex-wrap: wrap;
}

.secondNavBar h1 div a:hover {
   background-color:rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   transition: 0.4s;
}

/* Change color on hover */
.topnav a:hover {
   background-color:crimson;
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

/* Sidebar (only for mission page) */
.sidebar {
   padding-left: -30px;
   margin-left: -40px;
   margin-top: -20px;
   position: fixed;
   left: 0;
   top: 125px;
   bottom: 0;
   width: 200px;
   border-right: solid black 3px;
   background-color:ghostwhite;
   overflow-y: auto;
}

.sidebar ul a {
   display: block;
   width: 100%;
   line-height: 100px;
   font-size: 25px;
   padding-left: 30px;
   box-sizing: border-box;
   border-bottom: 1px solid;
   text-decoration: none;
   color: black;
   transition: 0.3s;
}

ul li:hover a{
   background-color: black;
   color: white;
}

/* Content styling for 1B */
.content1B h2{
   font-size: 30px;
   margin-left: 160px;
   margin-top: 30px
   }

.content1B p{
   margin-left: 160px;
   margin-top: 20px;
   margin-bottom: 50px;
   font-size: 25px;
}

.content1B h1{
   margin-left: 160px;
   margin-top: 20px;
   margin-bottom: 50px;
   font-size: 25px;
}

#studentInfo {
   margin-left: 160px;
   margin-top: -30px;
   margin-bottom: 50px;
   font-size: 25px;
}

#section1 {
   height: auto;
   scroll-margin-top: 160px;
   margin-top: 100px;
   width: 75%;
}

#section1 h2 {
   height: auto;
}

#section2 {
   height: auto;
   scroll-margin-top: 120px;
   border-top: 4px solid black;
}

#section3 {
   height: auto;
   scroll-margin-top: 120px;
   border-top: 4px solid black;
}

#section4 {
   height: auto;
   scroll-margin-top: 120px;
   border-top: 4px solid black;
}

/* Side menu (same as sidebar but for pages with information */
.sidemenu {
   margin-top: 135px;
   padding-left: -30px;
   margin-left: -30px;
   position: fixed;
   overflow-y: scroll;
   left: 0;
   top: 0;
   bottom: 0;
   width: 400px;
   border-right: solid black 3px;
   background-color:#f1f1f1;
}

.sidemenu h2 {
   margin-top: 20px;
   margin-left: 50px;
   font-size: 20px;
}

.sidemenu input {
   margin-top: 0px;
   margin-left: 50px;
   width: 75%;
   text-align: center;
   height: 40px;
   font-size: 20px;
}

.sidemenu input {
   margin-top: 0px;
   margin-left: 50px;
   width: 75%;
   text-align: center;
   height: 40px;
   font-size: 20px;
}

/* year input css for page 2A */
.year-input {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

input[name = "StartYear"] {
   margin-right: 5px;
   width: 35%;
   text-align: center;
   height: 40px;
   font-size: 20px;
   display: inline-block;
}

input[name = "EndYear"] {
   margin-left: 15px;
   width: 35%;
   text-align: center;
   height: 40px;
   font-size: 20px;
   display: inline-block;
}

input[type="checkbox"] {
   width: 24px;
   height: 24px;
   margin: 10px;
   margin-left: 50px;
}

/* Radio Buttons for page 2A */
.sorting-buttons label {
   margin-top: 100px;
}

input[type="radio"] {
   width: 24px;
   height: 24px;
   margin: 10px;
   margin-left: 50px;
   text-align: center;
} 

.submit-button {
   margin-top: 15px;
}

label {
   font-size: 20px;
}

button {
   font-size: 25px;
   border-radius: 25px;
   width: 75%;
   margin-left: 50px;
}

/* Style the content */
.content {
   background-color: #ddd;
   padding: 10px;
}

/* Style the footer */
.footer {
   background-color: #cccccc;
   padding: 10px;
}

/* Format for selected food group(s) and year(s) */
.displaySelectedOption {
   margin-left: 400px;
   margin-top: 100px;
   padding: 0;
   font-size: 25px;
}

.displaySelectedOption ul{
   max-height: 125px;
   overflow-y: auto;
   border: solid green 3px;
}

/* Table format */
table {
   margin-left: 400px;
   margin-top: 20px;
   background-color: green;
}

tr {
   background-color: #f1f1f1;
}

th {
   font-size: 25px;
   min-width: 150px;
   max-width: 600px;
   height: 100px;
}

td {
   font-size: 20px;
   text-align: center;
   height: 100px;
   min-width: 150px
}

table.page2A {
   margin-left: 400px;
   margin-top: 100px;
   background-color: green;
}

.noResult h1 {
   margin-left: 400px;
}

/* Styling the persona image and information */

.wrapper img {
   float: left;
   margin-right: 10px;
}

.text-box p {
   margin-bottom: 20px;
}

.slider-wrapper{
   position: relative;
   max-width: 100%;
   margin-left: 150px;
}

.slider {
   display: flex;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider .wrapper{
   flex: 1 0 100%;
   scroll-snap-align: start;
   object-fit: cover;
}

.slider-nav {
   display: flex;
   column-gap: 1rem;
   position: absolute;
   bottom: 1.75rem;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
}

.slider-nav a{
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   background-color: #000000;
   opacity: 0.75;
   transition: opacity ease 250ms;
}

.slider-nav a:hover{
   opacity: 1;
}

/*Format for the food group checkboxes */
.foodGroup {
height: 300px;
overflow-y: auto;
border: #000000 solid;
}

.foodGroup label {
   display: block;
   margin-left: 40px;
}

.foodGroup label input{
   margin-left: 0px;
}

.noResult2A {
   position: fixed;
   margin-top: 10%;
   margin-left: 30%;
}

.home {
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 0.9em;
   min-width: 400px;
   border-spacing: 100px;
   outline: #000000;
}

.home tr {
   text-align: center;
   background-color: rgb(241, 227, 209);
}
.home th,
.home td {
   padding: 1px 15px;
   height: 50px;
}

.aboutUsLink {
   width: 25%;
}
 
 
 


 